<div class="well">
  <h3>App Settings</h3>
  <form>
      <label>App name</label>
      <input type="text" readonly="readonly" value="<%- appName %>" />
      <label>App URL</label>
      <input type="text" readonly="readonly" value="<%- appUrl %>" />
  </form>
</div>

<div class="well">
  <h3>What's next?</h3>
  <p>Deployd is in early alpha. More features are planned for upcoming releases, such as:</p>
  <ul>
    <li>Data relationships</li>
    <li>Custom plugin support</li>
    <li>Advanced querying</li>
    <li>Automatic properties</li>   
    <li>Hosting static content</li>
    <li>Rendering HTML</li>
  </ul>
</div>