<div class="ide-container">
    <div id="resource-sidebar" class="component-type-sidebar sidebar">
    </div>
    <div class="main-area mid">
      <ul id="resource-list" class="component-list">
      </ul>
      <div id="resource-list-empty" class="well">
        <h2>Welcome to your Deployd app</h2>
        <p>
          <i class="icon-white icon-arrow-left"></i>&nbsp;
          These are the resources you can use to build your app.<br />
          <div class="placeholder">Drag one here to get started!</div>
        </p>  
      </div>
    </div>
    <div class="right-sidebar">
      <%- partial('partials/index-sidebar') %>
    </div>
</div>