<div class="subnav subnav-fixed">
  <button class="btn">Configure</button>
  <div class="pull-right">
    <button id="undo-btn" class="btn btn-warning">Undo&nbsp;<strong class="action-label"></strong></button>
  </div>
</div>
<div class="ide-container">
    <div id="resource-sidebar" class="component-type-sidebar">
    </div>
    <div class="main-area">
      <ul id="resource-list" class="component-list">
      </ul>
    </div>
</div>