<div id="model-editor">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="full-width-container">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#">Properties</a></li>
          <li><a href="#">Events</a></li>
        </ul>
        <div class="pull-right">
          <button id="undo-btn" class="btn btn-warning">Undo <span class="action-label"></span></button>
          <button id="save-btn" class="btn btn-primary" data-loading-text="Saving...">Save</button>
        </div>
      </div>
    </div>
  </div>
  <div class="ide-container has-nav">
    <div id="property-sidebar" class="component-type-sidebar sidebar">
    </div>
    <div class="main-area vertical-split">
      <ul id="property-list" class="component-list top-panel">
        <li class="component-item locked">
          <div class="header">
              <span class="label label-info">_id</span>
          </div>
        </li>
      </ul>
      <div class="divider"></div>
      <div class="bottom-panel">
        <ul class="nav nav-tabs">
            <li class="active">
              <a href="#">Sample Data</a>
            </li>
            <li><a href="#">Current Data</a></li>
        </ul>
        <div id="sample-data">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="code">_id</th>
                <th class="code">title</th>
                <th class="code">completed</th>
                <th class="code">order</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>...</td>
                <td>Lorem ipsum dolor</td>
                <td>true</td>
                <td>1</td>
              </tr>
              <tr>
                <td>...</td>
                <td>Sit amet consectitur</td>
                <td>false</td>
                <td>2</td>
              </tr>
              <tr>
                <td>...</td>
                <td>Condescpaping elit</td>
                <td>false</td>
                <td>3</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>