<div id="model-editor">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="full-width-container">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#">Properties</a></li>
          <li><a href="#">Events</a></li>
        </ul>
        <div class="pull-right">
          <a href="#" id="undo-btn" class="btn btn-warning">Undo <span class="action-label"></span></a>
          <a href="#" class="btn btn-primary disabled">Save</a>
        </div>
      </div>
    </div>
  </div>
  <div class="ide-container has-nav">
    <div id="property-sidebar" class="component-type-sidebar sidebar">
    </div>
    <div class="main-area vertical-split">
      <ul id="property-list" class="component-list top-panel">
        <li class="component-item locked">
          <div class="header">
              <span class="label label-info">_id</span>
          </div>
        </li>
      </ul>
      <div class="divider"></div>
      <div class="bottom-panel">
      </div>
    </div>
  </div>
</div>