<div class="modal-header">
  <h3>Deployd Dashboard</h3>
</div>
<div class="modal-body">
  <div class="alert alert-error key-error hide">Your auth key is invalid. You can generate a new key with the <code>dpd key</code> command.</div>
  <p>Authenticate with your deployd app:</p>
  <form>
      <label>Authentication key: <textarea class="full-width" rows="6" name="key"></textarea></label>
  </form>
</div>
<div class="modal-footer">
  <a href="#" class="btn btn-primary save">Authenticate</a>
</div>