<div id="model-editor">
  <div class="ide-container has-nav">
    <div id="property-panel">
      <div id="property-sidebar" class="component-type-sidebar sidebar well">
      </div>
      <div class="main-area vertical-split">
        <div class="top-panel">
          <div class="split-panel">
            <div id="property-list-cont" class="well">
              <h3>
                <div>
                  Properties
                </div>
              </h3>
              <ul id="property-list" class="component-list">  
                <li class="component-item locked">
                  <div class="header">
                      <span class="label label-info">_id</span>
                  </div>
                </li>
                <% if (typeof resourceTypeId !== 'undefined' && resourceTypeId === 'UserCollection') { %>
                  <li class="component-item locked">
                    <div class="header">
                        <span class="label label-info">email</span>
                    </div>
                  </li>
                  <li class="component-item locked">
                    <div class="header">
                        <span class="label label-info">password</span>
                    </div>
                  </li>
                <% } %>
              </ul>
            </div>
          </div>
          <div class="split-panel">
            <div id="events-panel" class="well">

            </div>
          </div>
        </div>
        
        <div class="divider"></div>
        <div class="bottom-panel">
          <div id="current-data">
            <div class="table-container">
              <table class="table table-bordered table-striped">
              </table>
            </div>
            <input id="current-data-querystring" type="text" placeholder="Query string" />
          </div>

        </div>
      </div>
    </div>    
  </div>
</div>