<div id="model-editor">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">&nbsp;</div>
      <div class="fixed2">
        <div class="well sidebar-nav">
          <ul id="page-nav" class="nav nav-pills nav-stacked">
            <li class="active"><a href="#collection-panels" data-toggle="tab">Collection</a></li>
            <li><a href="#api-panels" data-toggle="tab">API</a></li>
          </ul>
        </div>
      </div>
      
      <div class="span10">
        <div class="tab-content">
          <div id="collection-panels" class="tab-pane active">
            <div class="panel well stacked">
              <h3>
                Properties
              </h3>
              <div id="property-list">
              </div>
            </div>

            <div class="well stacked">
              <h3>Data</h3>
              <div id="current-data">
                <div class="table-container">
                  <table class="table table-bordered table-striped">
                  </table>
                </div>
                <input id="current-data-querystring" type="text" placeholder="Query string" />
              </div>
            </div>
          </div>

          <div id="api-panels" class="tab-pane">          
            <div id="events-panel" class="tab-pane well stacked">
            </div>
            <div id="routes" class="well stacked">
                
            </div>          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>