<div class="container">
  <div class="well">
    <h2>On Get</h2>
    <div class="editor-container">
      <div id="onGet"><%= onGet %></div>
    </div>
  </div>
  <div class="well" >
    <h2>On Post</h2>
    <div class="editor-container">
      <div id="onPost"><%= onPost %></div>
    </div>
  </div>
  <div class="well">
    <h2>On Put</h2>
    <div class="editor-container">
      <div id="onPut"><%= onPut %></div>
    </div>
  </div>
  <div class="well">
    <h2>On Delete</h2>
    <div class="editor-container">
      <div id="onDelete"><%= onDelete %></div>
    </div>
  </div>
</div>