<tr class="component-item">
  <td>
    <i class="icon-file"></i>
    <a href="#edit<%= path %>"><%= filename %></a>
  </td>
  <td>
    <a class="view" href="<%= path %>"  target="_blank"><i class="icon-eye-open"></i></a>
    <a class="delete" href="#" filename="<%= filename %>"><i class="icon-remove"></i></a>
  </td>
</tr>