<div class="container">
  <div class="well">
    <ul class="nav">
      <li><button class="btn back">Back</button></li>
      <li class="active"><a id="file-status"></a></li>
    </ul>
    <div class="editor-container">
      <div id="editor"></div>
    </div>
  </div>
</div>