<tr class="component-item">
  <td>
    <i class="icon-file"></i>
    <a href="<%= url %>"><%= filename %></a>
  </td>
  <td>
    <% if(isEditable) { %> 
      <a class="edit" href="#" filename="<%= filename %>">edit</a>
    <% } %>
    <a class="delete" href="#" filename="<%= filename %>"><i class="icon-remove"></i></a>
  </td>
</tr>