<div class="container">
  <div class="well">
    <div id="file-nav" class="clearfix">
      <button class="pull-left btn back">Back</button>
      <div class="pull-left" id="file-status"></div>
      <button id="save-btn" class="pull-right btn btn-success">Save</button>
    </div>
    <div class="editor-container">
      <div id="editor"></div>
    </div>
  </div>
</div>