<tr class="component-item">
  <td>
    <i class="icon-file"></i>
    <a href="#edit<%= path %>"><%= filename %></a>
  </td>
  <td style="width: 149px;">
    <a class="view btn" href="<%= path %>"  target="_blank"><i class="icon-eye-open"></i> View</a>
    <a class="delete btn" href="#" filename="<%= filename %>"><i class="icon-remove"></i> Delete</a>
  </td>
</tr>