<tr class="component-item">
  <td>
    <i class="icon-file"></i>
    <a href="#/edit<%= path %>"><%= filename %></a>
  </td>
  <td>
    <a class="delete" href="#" filename="<%= filename %>"><i class="icon-remove"></i></a>
  </td>
</tr>