<h1><a href="#"><%= appName %> - Dashboard</a></h1>
<% if (typeof resourceName !== 'undefined') { %>
  <h2><a href="#<%= resourceName %>"><%= resourceName %>&nbsp;&nbsp;<span class="type">(<%= resourceType %>)</span></a></h2>
<% } %>