<div class="full-width-container">
  <ul class="nav nav-pills pull-left" style="margin-left: 19px;">
    <li>
      <a href="<%- appUrl %>" target="_blank"><%- appUrl %></a>
    </li>
  </ul>
  <div class="pull-right">
    <span id="save-status"></span>
    <button id="undo-btn" class="btn btn-warning"><i class="icon-exclamation-sign icon-white"></i> Undo <span class="action-label"></span></button>
  </div>
</div>