<div class="full-width-container">
  <ul class="nav nav-pills pull-left">
    <li><a href="#">Resources</a></li>
    <% if (typeof resourceName !== 'undefined' && resourceName) { %>
      <li class="active">
        <a href="#<%= resourceId %>" class="resourceName"><%= resourceName %></a>
      </li>
    <% } %>
  </ul>
  <div class="pull-right">
    <button id="undo-btn" class="btn btn-warning"><i class="icon-exclamation-sign icon-white"></i> Undo <span class="action-label"></span></button>
    <span id="save-status"></span>
  </div>
</div>