<div>
  <ul class="nav nav-pills">
    <li><a href="#">Resources</a></li>
    <% if (typeof resourceName !== 'undefined' && resourceName) { %>
      <li class="active">
        <a href="#<%= resourceId %>" class="resourceName"><%= resourceName %></a>
      </li>
    <% } %>
  </ul>
<span class="pull-right" id="save-status">Loading...</span>

</div>