<table class="table table-bordered table-striped">
  <thead>
    <th>Name</th>
    <th>Type</th>
    <th></th>
  </thead>
  <tbody>
    <tr>
      <td><span class="code">_id</span></td>
      <td><span>string</span></td>
      <td></td>
    </tr>
    <% if (typeof resourceTypeId !== 'undefined' && resourceTypeId === 'UserCollection') { %>
      <tr>
        <td><span class="code">email</span></td>
        <td><span>string</span></td>
        <td></td>
      </tr>
      <tr>
        <td><span class="code">password</span></td>
        <td><span>string</span></td>
        <td></td>
      </tr>
    <% } %>
    <tr data-bind="visible: !properties().length">
      <td colspan="3">
        <% if (typeof resourceTypeId !== 'undefined' && resourceTypeId === 'UserCollection') { %>
          <h4>Managing Users</h4>
          <p>A <strong>user collection</strong> allows your app to create and authenticate users.</p>
          <p>
            <i class="icon-arrow-down"></i>&nbsp;
            Add custom properties to describe the type of user you want to store.
          </p>
        <% } else { %>
          <h4>Storing Objects</h4>
          <p>A <strong>collection</strong> allows your app to securely store data as objects.</p>
          <p>
            <i class="icon-arrow-down"></i>&nbsp;
            Add properties to describe the object you want to store.
          </p>
        <% } %>
      </td>
    </tr>
    <!-- ko foreach: properties -->
    <tr>
      <td>
        <span class="code" data-bind="text: name"></span>
      </td>
      <td>
        <span data-bind="text: typeLabel"></span>
      </td>
      <td>
        <a href="#" data-bind="click: $root.removeProperty"><i class="icon-remove"></i></a>
      </td>
    </tr>
    <!-- /ko -->
    <tr>
      <td>
        <input type="text" data-bind="value: newName" />
      </td>
      <td>
        <select data-bind="options: propertyTypes, optionsText: 'label', value: newType"></select>
      </td>
      <td>
        <button class="btn btn-success" data-bind="click: addProperty">add</button>
      </td>
    </tr>
  </tbody>
</table>