<div class="header">
  <% if (property.c_active) { %>
    <input type="text" class="code" name="name" value="<%- property.name %>" />
  <% } else { %>
    <span class="code name"><%- property.name %></span>
  <% } %>
 	<a href="#" class="pull-right delete-btn">delete</a>
  <div class="tags pull-right">
  	<% if (property.required) { %>
  		<span class="label required">Required</span>
  	<% } %>
    <span class="label label-info type"><%- property.typeLabel %></span>
  </div>
</div>
<% if (property.c_active) { %>
  <div class="detail form-inline">
    <% if (property.type !== 'boolean') { %>
    <label>Required <input type="checkbox" name='required' <%= property.required ? 'checked="checked"' : '' %> /></label>
    <% } %>
  </div>
<% } %>