<ul class="component-list">
  <li class="component-item locked"><div class="header">
    <i class="icon-white string" title="string"></i>
    <span class="code name">_id</span>
    <div class="pull-right">
      <i class="icon-white icon-lock" title="Locked"></i>
    </div>
  </div></li>
  <% if (typeof resourceTypeId !== 'undefined' && resourceTypeId === 'UserCollection') { %>
  <li class="component-item locked"><div class="header">
    <i class="icon-white string" title="string"></i>
    <span class="code name">email</span>
    <div class="pull-right">
      <i class="icon-white icon-lock" title="Locked"></i>
    </div>
  </div></li>
  <li class="component-item"><div class="header">
    <i class="icon-white string" title="string"></i>
    <span class="code name">password</span>
    <div class="pull-right">
      <i class="icon-white icon-lock" title="Locked"></i>
    </div>
  </div></li>
  <% } %>
  <!-- ko foreach: properties -->
    <li class="component-item" data-bind="css: {active: editing}"><div class="header clearfix" data-bind="click: onClickHeader">
      <!-- ko if: editing -->
      <i class="icon-white" data-bind="attr: {title: typeLabel}, cssNamed: type"></i>
      <input type="text" data-bind="value: name, hasfocus: nameFocus" />
      <div class="pull-right">
        <label data-bind="if: type() !== 'boolean'" class="checkbox pull-left"><input type="checkbox" data-bind="checked: optional" />Optional</label>
        <a href="#" data-bind="click: $root.removeProperty"><i class="icon-white icon-remove"></i></a>
      </div>
      <!-- /ko -->
      <!-- ko if: !editing() -->
      <i class="icon-white" data-bind="attr: {title: typeLabel}, cssNamed: type"></i>
      <span class="code name" data-bind="text: name, click: onClickName"></span>
      <div class="pull-right">
        <span class="label" data-bind="visible: optional">Optional</span>
        <a href="#" data-bind="click: $root.removeProperty"><i class="icon-white icon-remove"></i></a>
      </div>
      <!-- /ko -->
    </div></li>
  <!-- /ko -->
  <div class="placeholder">
    <select data-bind="options: propertyTypes, optionsText: 'label', value: newType"></select>
    <input type="text" data-bind="value: newName, event: { keypress: onNewNameKeypress }" />
    <div class="pull-right">
      <button class="btn btn-success" data-bind="click: addProperty">add</button>
    </div>
  </div>
</ul>

