<h2 class="component-type-header">Types</h2>
<ul class="component-type-list">
<% types.each(function(typeModel) { var type = typeModel.toJSON() %>
   <li class="component-type-item" data-cid="<%- typeModel.cid %>"><%- type.label %></li>
<% }); %>
</ul>