<div id="resource-editor">
  <div class="container">
      <div class="header-offset well">
        <div class="clearfix">
          <h3 class="pull-left">Resources</h3>
          <div class="btn-group pull-right">
            <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-white icon-plus"></i> Add New Resource
              <span class="caret"></span>
            </a>
            <ul id="property-types" class="dropdown-menu">
            </ul>
          </div>
        </div>
        <ul id="resource-list" class="component-list" style="display: none;">
        </ul>
        <div id="resource-list-empty" class="component-list-empty" style="display: none;">
          <div class="alert alert-info">
            <p>This app is empty. Add a resource to get started.<p>
            <p>If you're new to Deployd, check out our tutorial to quickly build your first app.</p>
            <a href="http://www.deployd.com/tutorial/step1" target="_blank" class="btn btn-primary">Go to Tutorial</a>
          </div>
        </div>
      </div>
  </div>
</div>