<div id="resource-editor">
  <div class="container">
      <div class="header-offset well">
        <div class="clearfix">
          <h3 class="pull-left">Resources</h3>
          <div class="btn-group pull-right">
            <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
              Add New Resource
              <span class="caret"></span>
            </a>
            <ul id="property-types" class="dropdown-menu">
            </ul>
          </div>
        </div>
        <ul id="resource-list" class="component-list" style="display: none;">
        </ul>
        <div id="resource-list-empty" class="component-list-empty well" style="display: none;">
          <h4>Welcome to your Deployd app</h4>
          <p>
            Your app does not currently have any resources. Add one to get started!
            <i class="icon-arrow-up"></i>&nbsp;
          </p>
        </div>
      </div>
  </div>
</div>