<div class="header">
  <% if (resource.c_active) { %>
    <input type="text" class="code" name="path" value="<%- resource.path %>" />
    <a href="#" class="save-btn">save</a>
    <a href="#" class="cancel-btn">cancel</a>
  <% } else { %>
    <span class="code path"><%- resource.path %></span>
  <% } %>
  <div class="btn-group pull-right">
    <a class="btn btn-primary edit-btn" href="#">Edit</a>
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <a href="#" class="rename-btn">Rename</a>
      <a href="#" class="delete-btn">Delete</a>
    </ul>
  </div>
  <div class="tags pull-right">
    <span class="label label-info type"><%- resource.typeLabel %></span>
  </div>
</div>