  <div class="header">
      <span class="code"><%- resource.path %></span>
      <a href="#" class="delete-btn pull-right">delete</a>
      <div class="tags pull-right">
        <span class="label label-info type"><%- resource.typeName %></span>
      </div>
  </div>