<div class="header">
  <% if (resource.c_active) { %>
    <input type="text" class="code" name="path" value="<%- resource.path %>" />
    <a href="#" class="save-btn">save</a>
    <a href="#" class="cancel-btn">cancel</a>
  <% } else { %>
    <span class="code path"><%- resource.path %></span>
  <% } %>
  <div class="pull-right">
    <a class="edit-btn" href="#">edit</a>
    &nbsp;
    <a href="#" class="rename-btn">rename</a>
    &nbsp;
    <a href="#" class="delete-btn">delete</a>
  </div>
  <div class="tags pull-right">
    <span class="label label-info type"><%- resource.typeLabel %></span>
  </div>
</div>