<div id="resource-editor" class="resource-list">
  <div class="container">
      <div class="well">
        <div class="clearfix">
          <h3 class="pull-left">Dashboard</h3>
          <div class="btn-group pull-right">
            <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-white icon-plus"></i> Resource
              &nbsp;<span class="caret"></span>
            </a>
            <ul id="property-types" class="dropdown-menu">
            </ul>
          </div>
        </div>
        <ul id="resource-list" class="component-list">
          <% /* <li class="component-item locked" id="files-resource">
            <div class="component-item-header">
              <i title="Files" class="icon-white static"></i>
                <span class="path">Files</span>
                <div class="pull-right">
                  <i class="icon-white icon-lock"></i>
                </div>
            </div>
          </li> */ %>
        </ul>
        <div id="resource-list-empty" class="component-list-empty" style="display: none;">
          <!-- <div class="alert alert-info"><strong>This app has no resources.</strong></div> -->
          <div class="get-started-light">
            <p>
              <strong><i class="icon-white icon-th-list"></i> Store data</strong> - Add a <i>collection resource</i> to save and query data over a simple http api.
            </p>
            <p>
              <strong><i class="icon-white icon-user"></i> Authenticate users</strong> - Add a <i>users collection</i> resource to create and authenticate users over http.
            </p>
          </div>
          <div class="tutorial-help">
            <p>If you're new to Deployd, check out our Hello World tutorial to quickly dive into Deployd</p>
            <a href="http://www.deployd.com/docs/tutorials/hello-world.html" target="_blank" class="btn btn-primary"><i class="icon-question-sign icon-white"></i> Go to Tutorial</a>
          </div>
        </div>
      </div>
  </div>
</div>