<div id="resource-editor" class="resource-list">
  <div class="container">
      <div class="well">
        <div class="clearfix">
          <h3 class="pull-left">Resources</h3>
          <div class="btn-group pull-right">
            <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-white icon-plus"></i> Add New Resource
              <span class="caret"></span>
            </a>
            <ul id="property-types" class="dropdown-menu">
            </ul>
          </div>
        </div>
        <ul id="resource-list" class="component-list" style="display: none;">
        </ul>
        <div id="resource-list-empty" class="component-list-empty" style="display: none;">
          <div>
            <div class="alert alert-info" style="text-align: center;"><strong>This app is empty.</strong> Add a resource to get started.</div>
            <div class="get-started">
              <p>
                Give your JavaScript direct access to a powerful database, user management and more by adding resources.
              </p>
              <p>
                <strong><i class="icon-folder-close icon-white"></i> Files</strong> - Add a <i>files resource</i> to upload and serve your html, css, JavaScript, and other assets.
              </p>
              <p>
                <strong><i class="icon-th-list icon-white"></i> Collection</strong> - Add a <i>collection resource</i> to save and query data over a simple http api.
              </p>
              <p>
                <strong><i class="icon-user icon-white"></i> Users Collection</strong> - Add a <i>users collection</i> resource to create and authenticate users over http.
              </p>
            </div>
            <div class="tutorial-help">
              <p>If you're new to Deployd, check out our tutorial to quickly build your first app.</p>
              <a href="http://www.deployd.com/tutorial/step1" target="_blank" class="btn btn-primary"><i class="icon-question-sign icon-white"></i> Go to Tutorial</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>