<script type="text/x-handlebars-template" id="sample-data-table-template" >
<table id="sample-data" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="code">_id</th>
      {{#each properties}}
      <th class="code">{{name}}</th>
      {{/each}}
      <th></td>
    </tr>
  </thead>
  <tbody>
  	{{#each sampleRows}}
  		<tr>
  			<td>...</td>
	  		{{#each this}}
	  			<td>{{this}}</td>
	  		{{/each}}
	  		<td><a href="#">remove</a></td>
  		</tr>
    {{/each}}
    <tfoot>
      <tr>
        <td colspan="{{footerSpan}}"><a href="#">add</a></td>
      </tr>
    </tfoot>
  </tbody>
</table>
</script>