<div id="resource-editor">
  <div class="ide-container">
      <div id="resource-sidebar" class="component-type-sidebar sidebar">
        <h2>Upload</h2>
        <div id="file-upload">
          <input type="file" multiple="multiple" />
        </div>
      </div>
      <div class="main-area mid header-offset">
        <table id="files" class="table table-bordered table-striped">
          <thead>
            <th>Filename</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>