<div id="resource-editor" class="file-list">
  <div class="container">
      <div class="well">
        <div class="clearfix">
          <h3 class="pull-left">Files</h3>
          <div id="file-upload" class="pull-right">
            
            <a href="#sync-info-modal" data-toggle="modal" class="btn"><i class="icon-resize-vertical"></i> Setup Local Sync</a>
            <a href="#" class="new-file-btn btn btn-success"><i class="icon-plus icon-white"></i> New File</a>
            <span class="btn btn-success fileinput-button">
                <i class="icon-upload icon-white"></i>
                <span>Quick Upload Files</span>
                <input type="file" multiple="multiple" />
            </span>
          </div>
        </div>
        <div id="files-empty" class="hide">
          <div class="alert alert-info"><strong>This folder is empty.</strong> Create or upload some files to get started.</div>
          <div class="get-started" style="margin-bottom: 0;">
             <p>
               <strong><i class="icon-upload icon-white"></i> Uploading</strong> - There are a couple of ways to upload files. The easiest way is to use the "Quick Upload Files" button.
             </p>
             <p>
               <strong><i class="icon-pencil icon-white"></i> Editing</strong> - Once you have uploaded files, you can click on a filename to edit with deployd's built in text editor.
             </p>
             <p>
                <strong><i class="icon-download-alt icon-white"></i> Working Locally</strong> - Setup the <a href="#sync-info-modal" data-toggle="modal">deployd command line tool</a> to easily sync your local files with deployd.
              </p>
          </div>
        </div>
        <table id="files" class="table table-bordered table-striped">
          <thead>
            <th>Filename</th>
          </thead>
          <tbody></tbody>
        </table>
        <div id="currentUploads">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="sync-info-modal" class="hide modal" style="margin-top: -280px">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Setup Local Sync</h3>
  </div>
  <div class="modal-body">
		<p>To sync your app's files with your local filesystem, first install the <code>dpd</code> command line utility. <em>It requires <a href="http://nodejs.org/#download">Node.js</a>.</em></p>

		<p>Run the following commands from the command line to install the utility and setup your app.</p>

		<pre><code>npm install deployd -g</code></pre>

		<p>In the directory where you want to keep your app files, run the following command.
		It will grant local access to your app and tell <code>dpd</code> to store the files in that directory.</p>

		<pre><code>dpd init http://<%= window.location.host %> '<%= $.cookie('DPDAuthKey') %>'</code></pre>

		<p id="scroll_to_here" >Now you can push and pull the entire contents of the directory with the following commands.</p>

		<pre><code>dpd push</code></pre>

		<p>Running <code>dpd push</code> will upload the contents of your current directory to your app.</p>

		<pre><code>dpd pull</code></pre>

		<p>Running <code>dpd pull</code> will download all of your app's files into the current directory.</p>
  </div>
  <div class="modal-footer">

  </div>
</div>