#files {
  margin: 4px 0 20px 0
}

#file-upload {
  text-align: center;
}

#files > .add-buttons {
  display: none;
}

#files .add-buttons{
  .opacity(50);

  &:hover {
    .opacity(100);
  }

  a {
    display: inline-block;  
  }
  
}

.fileinput-button {
  height: 18px;
  width: 60px;
  position: relative;
}

.fileinput-button input {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border: solid transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
  border-width: 0 0 0 200px;
}

#file-upload #currentUploads div {
  margin-top: 30px;
}

.file-list-container {
  padding-left: 14px;
  border-left: @black 1px solid;
}

.file-list {
  li {
    i {opacity: 0.5;}
    .btn {
      i {opacity: 1;}
    }
    color: @white;
    span {opacity: 0.5;}
  }
  margin-left: 0;
  cursor: pointer;

  li {
    list-style: none;
  }

  .file, .folder {
    padding: 2px 2px;
    height: 28px;
    line-height: 28px;
    position: relative;
    margin-left: -13px;
    padding-left: 13px;
    .buttons {
      display: none;
      position: absolute;
      top: 2px;
      right: 2px;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.1);

      .buttons {
        display: block;
      }
    }
  }
}

