@import "../../bootstrap/less/bootstrap.less";

h1 {
  padding: 10px;
}

.well {margin-bottom: 0;}

.right-sidebar .well {
  position: absolute;
  top: 0;
  width: 195px;
}

.right-sidebar .well input {
  width: 185px;
}

.right-sidebar .well + .well {
  margin-top: 10px;
  top: 224px;
  bottom: 0;
  min-height: 100px;
}

::-webkit-scrollbar {
  // background: @transparentBackground;
  width: 8px;
  height: 8px;
  margin: 10px;
}

::-webkit-scrollbar-thumb {
  background: @wellBackground;
  .border-radius(5px);
}

::-webkit-scrollbar-corner {
  display: none;
}

.code {
  font-family: 'Courier New', monospace;
}

#header {
  h1, h2 {
    display: inline-block;
    margin-right: 20px;

    .type {
      font-style: italic;
    }
  }
}

#save-status {
  margin: 18px;
}

.full-width-container {
  .container;
  width: auto;
}

.ide-container {
  position: absolute;
  top: 60px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  min-width: 600px;
  overflow: auto;

  &.has-nav {
    top: 110px;
  }
}

.ide-container .sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 250px - @wellPadding*2 - 10;
  overflow-y: auto;
}

.ide-container .right-sidebar {
  .ide-container .sidebar;
  width: 250px;
  right: 0;
  
  overflow-y: hidden;
  overflow-x: hidden;
  
  border: none;
}

.ide-container .component-type-sidebar {
  .component-type-header {
    &:hover {
      background-image: none;
    }
  }

  .component-type-list {
    margin: 0;
    list-style: none;
    
    li.component-type-item {
      width: auto;

      background: @background;

      &:hover {
        background: lighten(@background, 5%);
      }
    }
  }
}

li.component-type-item {
  list-style: none;
  padding: 10px;

  height: 19px;
  width: 230px;

  background: @wellBackground;
  margin-bottom: 4px;
  border-radius: 3px;
  cursor: move;

  
}

.header-offset {
  padding-bottom: 38px;
}

#resource-list-empty {
  margin: 60px;
}

.ide-container .main-area {
  position: absolute;
  right: 0;
  top: 0;
  left: 260px;
  bottom: 0;

  &.mid {
    right: 260px;
  }

  &.vertical-split {
    .top-panel, .bottom-panel {
      position: absolute;
      overflow-y: auto;
      left: 0;
      right: 0;
    }

    .top-panel {
      top: 0;
    }

    .bottom-panel {
      bottom: 0;
    }

    .divider {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      //border-top: #ddd 2px dotted; 
      height: 20px;
      // background-color: #eee;
      cursor: ns-resize;

      &:after {
        content: '';
        display: block;
        margin-top: 9px;
        border-top: #000 2px dotted; 
      }
    }
  }

  
}

.component-list {
  min-height: 100%;
  margin: 0;
  list-style: none;
  padding-bottom: 20px;
}

.placeholder {
  padding: 10px;
  border: 1px dashed darken(@background, 15%);
  margin-bottom: 4px;
  height: 19px;

  &.highlight {
    border-color: #fff;
    color: #fff;
  }  
}

li.component-item {
  list-style: none;
  margin-bottom: 4px;
  background: @background;
  border-radius: 3px;
  

  &.unsaved {
    border: 1px lighten(@background, 10%) dashed;
  }

  &.active {
    .header {
      background: darken(@background, 5%);
      .border-radius(3px 3px 0px 0px);
    }
  }

  

  .header {
    border-radius: inherit; 
    padding: 10px; 
    min-height: 19px;
    cursor: move;

    &:hover {
      background: lighten(@background, 5%);
    }

    input {
      margin-bottom: 0;
    }

    .tags {
      margin-right: 10px;
    } 
  }

  .detail {
    .border-radius(0px 0px 3px 3px);
    padding: 10px;
    border: 1px solid @background;
  }
}

.editor-container {
  position: relative;
  height: 100px;
  width: 100%;
  background: #ffffff;

  .ace_editor {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

table input {
  margin: 0;
  width: 150px;

  &[type=number] {
    width: 75px;
  }
}

#file-upload {
  text-align: center;
}

#file-upload input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
  border-width: 0 0 100px 200px;
}
